<?xml version="1.0" encoding="utf-8"?>
<web-app>

    <display-name>Aplikacja do wiadomosci</display-name>


    <servlet>
        <servlet-name>TwitterServlet</servlet-name>
        <servlet-class>pl.sda.TwitterServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>TwitterServlet</servlet-name>
        <url-pattern>/twitter</url-pattern>
    </servlet-mapping>

</web-app>